In [4]:
a=('inza','aliya','amara')
print(a[1])
y=(1,2,3,4,5)
print(y)
print(max(y))
for i in y:
    print(i)

aliya
(1, 2, 3, 4, 5)
5
1
2
3
4
5

In [7]:
#tuples are immutable
a=[1,2,3] # this isn list
print(a)
a[0]=0
print(a)
#this is string when am change the string that give me trace back error
#b='banan'
#b[0]='B'
#print(b)
#tuple also give error when am trying to chnage the content of tuples
#p=("inza","amara","rabia")
#p[0]="jhope"
#print(p)

[1, 2, 3]
[0, 2, 3]

TypeError: 'tuple' object does not support item assignment

In [9]:
# things we not to do with tuples
a=(1,2,3,7,5)
#a.sort()
#a.append()
#a.reverse()
print(a)

(1, 2, 3, 7, 5)

In [10]:
#tale of the 2 sequences
a=list()
type(a)
dir(a)
b=tuple()
type(b)
dir(b)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [12]:
# we also put tuples in left and side after the assignment operator
a,y=(4,'friends')
print(y)
print(a)

friends
4

In [14]:
#tuples & dictionary
a=dict()
a['book']=0
a['apple']=6
a['friend']=6
for (k,v) in a.items():
    print(k,v)
b=a.items()
print(b)

book 0
apple 6
friend 6
dict_items([('book', 0), ('apple', 6), ('friend', 6)])

In [19]:
(1,2,3)<(5,9,10)

True

In [20]:
(5,9,10)<(1,2,3)

False

In [21]:
('inza','rabia')<('ahmed','shimaz')

False

In [22]:
( 'Jones', 'Sally' ) < ('Jones', 'Sam')

True

In [24]:
# sorted list of tuples
a={'a':10,'b':20,'h':1,'c':30}
a.items()
sorted(a.items())

[('a', 10), ('b', 20), ('c', 30), ('h', 1)]

In [31]:
a = {'a':10, 'b':1, 'c':22, 'g':0}
t = sorted(a.items())
for (k, v) in sorted(a.items()):
    print(k, v)

a 10
b 1
c 22
g 0

In [38]:
# sorted by values instead of keys when take list of tuples
a={'a':10,'g':1,'b':1}
print(a)
b=list()
for (k,v) in sorted(a.items()):
    b.append((k,v))
print(b)
b=sorted(b, reverse=True)
print(b)

{'a': 10, 'g': 1, 'b': 1}
[('a', 10), ('b', 1), ('g', 1)]
[('g', 1), ('b', 1), ('a', 10)]

In [40]:
a = {'a':10, 'b':1, 'c':22}
print( sorted( [ (v,k) for k,v in a.items() ] ) )

[(1, 'b'), (10, 'a'), (22, 'c')]